/.vscode/
/experiments/**/outputs/
/experiments/**/tokenizers/
/experiments/llm-digital/pretrain/aixsim-60M/
/experiments/**/output/
/experiments/**/wandb/
/experiments/roberta-pim/eval_results/
wandb/

/.cache/

log*
specific.sh
__pycache__/
