/.vscode/
/experiments/**/outputs/
/experiments/**/tokenizers/
/experiments/llm-digital/pretrain/aixsim-60M/
/experiments/**/output/
/experiments/**/wandb/
wandb/
submodules/mase/

/.cache/

log*
specific.sh
__pycache__/
