[submodule "submodules/torchtitan"]
	path = submodules/torchtitan
	url = https://github.com/pytorch/torchtitan.git
[submodule "submodules/mase"]
	path = submodules/mase
	url = https://github.com/DeepWok/mase.git
[submodule "experiments/llm-bitflip/lora_finetune_fsdp/torchtitan"]
	path = experiments/llm-bitflip/lora_finetune_fsdp/torchtitan
	url = https://github.com/pytorch/torchtitan.git
