datasets
huggingface_hub[hf_transfer]
jsonargparse[all]
wandb
transformers==4.49
accelerate
torch
numpy
# torchtitan dependencies
tiktoken
blobfile
colorlog
torchdata
tensorboard
lm-eval==0.4.7
mase-tools @ git+https://github.com/DeepWok/mase@cz/mase-triton-bitflip