rust-just
datasets
huggingface_hub[hf_transfer]
jsonargparse[all]
wandb
transformers==4.48.3
accelerate
torch
numpy
# torchtitan dependencies
tiktoken
blobfile
colorlog
torchdata
tensorboard
lm-eval==0.4.7
mase-triton